---
title: Sam Moore
---

<!-- <div class="welcome text-center padded">
  <h1>Sam Moore</h1>
  <h2>Full-Stack Developer</h2>
  <p class="doc">
    <%#= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><#!-- .doc
</div><#!-- .welcome -->
<!-- <div class="header">

</div> -->

<div class="container">
  <div class="content">
    <div class="card">
      <h1>SAM MOORE</h1>
      <h3>FULL-STACK DEVELOPER</h3>
      <p>Tokyo, Japan</p>
    </div>
    <div class="card">
      <div class="section-header">
        <h2>ABOUT ME</h2>
      </div>
      <div class="section-body">
        <p>After working in various positions such as IT support and as an English Instructor, I decided I wanted to start in a career
        as a web developer.</p>
        <p>To achieve this goal I joined a part time full-stack bootcamp at Le Wagon in Tokyo.
        At the bootcamp I learnt how to make full production web apps using Ruby on Rails, JavaScript, HTML, CSS and PostgreSQL</p>
        <p>However along with the programming languages, Le Wagon also taught me how to program as part of a team using technology such as Git.</p>
        <p>Now the bootcamp is complete I am ready to start my career as a full-stack developer.</p>
      </div>
    </div>
    <div class="card">
      <div class="section-header">
        <h2>RECENT PROJECTS</h2>
      </div>
      <div class="section-body">
        <div class="project">
          <div class="project-image">
            <%= image_tag ("way-to-snow-map.png"), alt: "Way to Snow Map" %>

          </div>
          <div class="project-text">
            <h1>Way to Snow</h1>
            <p>Way to snow shows live weather information for 285 ski resorts in Japan</p>
            <p>It was built over 5 weeks in a team of 3 using Ruby on Rails, JavaScript, HTML, CSS and PostreSQL</p>
            <div class="project-button">
              <a href="http://www.waytosnow.com/" target="_blank" class="btn-medium">Check it out</a>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="project-text">
            <h1>Task Tanuki</h1>
            <p>Task Tanuki is a task sharing site, it allows people to post jobs they would like someone to do, and for others to offer
            to do the job</p>
            <div class="project-button">
              <a href="https://task-tanuki.herokuapp.com/" target="_blank" class="btn-medium">Check it out</a>
            </div>
          </div>
          <div class="project-image">
            <%= image_tag ("task-tanuki.png"), alt: "Task Tanuki" %>
          </div>
        </div>
        <div class="project">
          <div class="project-image">
            <%= image_tag ("mr-cocktails.png"), alt: "Mr Cocktails" %>

          </div>
          <div class="project-text">
            <h1>Mr Cocktails</h1>
            <p>An app to create and save cocktail recipes. This was my first Ruby on Rails app</p>
            <div class="project-button">
              <a href="http://le-cocktail.herokuapp.com/" target="_blank" class="btn-medium">Check it out</a>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="project-text">
            <h1>Japan Prefectures</h1>
            <p>This app keeps track of all the prefectures in Japan I have visited.</p>
            <p>I created this as a side project to keep practicing my ruby skills.</p>
            <div class="project-button">
              <a href="https://prefecture-checklist.herokuapp.com/prefectures" target="_blank" class="btn-medium">Check it out</a>
            </div>
          </div>
          <div class="project-image">
            <%= image_tag ("prefectures.png"), alt: "Japan Prefectures" %>
          </div>
        </div>
        <div class="project" id="project-last">
          <div class="project-image">
            <%= image_tag ("finance-tracker.png"), alt: "Finance Tracker" %>
          </div>
          <div class="project-text">
            <h1>Finance Tracker</h1>
            <p>This is an app to track stock prices</p>
            <p>It uses an API to get current stock prices, and lets users see profiles of other users</p>
            <div class="project-button">
              <a href="https://sams-finance-tracker.herokuapp.com/" target="_blank" class="btn-medium">Check it out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="section-header">
        <h2>CONTACT ME</h2>
      </div>
      <div class="section-body">
        <div class="links">
          <a href="https://github.com/swmoore84" target="_blank">
            <i class="fa fa-github-square"></i>
          </a>
          <a href="https://www.linkedin.com/in/sammoore84/" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
          <a href="mailto:swmoore84@gmail.com">
            <i class="fa fa-envelope-square"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
